#myBtn {
    /*colouring and settings for the 'scroll to top' button*/
    display:none;
    position: fixed;
    top: 0px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightgrey;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
}

#myBtn:hover{
    /*adding in a colour change upon hovering over the 'back to top' button with the cursor*/
    background-color: dimgray;
}

#btn1 {
    /*this is for the poster link buttons*/
 background-color: white;
    color: black;
    border-radius: 50px; /*smoothes off the edges of the button, making it appear more or less round*/
}
#btn2 {
    background-color: white;
    color: black;
    border-radius: 50px; 
}
#btn3 {
     background-color: white;
    color: black;
    border-radius: 50px;
}
#btn4 {
     background-color: white;
    color: black;
    border-radius: 50px;
}

#jumbotron {
    /*customising the look and shape of the jumbotron*/
    background-color: black;
    color: white;
    border: none;
    padding-bottom: none;
    border-bottom: none;
}

#images {
    width: 940px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: auto;
    
}

#img1 {
    margin-bottom: 40px;
    padding-right: 70px;
}

#img2 {
    margin-bottom: 40px;
    padding-right: 70px;
}

#img3 {
    margin-bottom: 30px;
    padding-right: 70px;
}

#meritPaper {
    margin-left: 30px;
    margin-top: 50px;
    float: left;
}

#merit {
    float: right;
    margin-bottom: 20px;
    margin-top: 5cm;
    
}